<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current - <%= roomId %></title>
    <link href="./src/style.css" rel="stylesheet">
    <link href="./src/output.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fabric@5.3.0/dist/fabric.min.js"
      integrity="sha256-SPjwkVvrUS/H/htIwO6wdd0IA8eQ79/XXNAH+cPuoso=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/selfie_segmentation/selfie_segmentation.js"
      crossorigin="anonymous"></script>
  </head>
  <body class="bg-white">
    <div id="loading"
      class="fixed h-screen w-screen top-0 left-0 flex items-center justify-center z-10 bg-gray-500 bg-opacity-25">
      <span class="loader"></span>
    </div>
    
    <div id="main" class="flex items-center justify-center h-[calc(100vh-4rem)] p-2">
      <div id="left-block" class="w-[78%] flex flex-col items-center">
        <div id="display" class="w-full h-full grid grid-cols-fluid-l gap-1 items-center">
          <div id="myVideo" class="relative pb-[56.25%] overflow-hidden h-0 bg-gray-100">
            <canvas width="1280" height="720" class="absolute w-full h-full t-0 l-0 transform-rotateY-180"></canvas>
            <span class="absolute z-10 bottom-0 left-0 px-4 py-3 text-base text-white text-shadow">你</span>
          </div>
        </div>
        <div id="share-screen" class="hidden flex-[1_0_auto] relative w-full flex flex-col items-center">
          <div id="share-screen-reminder" class="flex justify-between items-center inline-block align-top w-full h-10 bg-gray-300 mt-0 mb-1 rounded-lg">
            <span id="who-share-screen" class="ml-2">你正在與所有人分享螢幕畫面</span>
          </div>
          <div id="share-screen-video" class="relative w-full flex-[1_0_auto]">
          </div>
        </div>
        <div id="whiteboard" class="hidden flex-[1_0_auto] relative flex justify-center">
          <canvas id="my-whiteboard" class="border-black border rounded-xl"></canvas>
          <div id="whiteboard-reminder" class="absolute top-0 left-0 w-[20%]">
            <span>你正在共享小白版</span>
          </div>
          <div id="whiteboard-stop-btn">
            <span class="absolute top-0 right-0">停止共享</span>
          </div>
        </div>
      </div>
      <div id="right-block" class="hidden w-[22%] h-full pl-2 min-w-[250px]">
        <div id="chat-room" class="relative w-full h-full bg-gray-200 rounded-lg drop-shadow-md overflow-hidden">
          <div id="messenges" class="absolute top-0 w-full h-[calc(100%-70px)] p-1.5 overflow-y-scroll"></div>
          <form id="chat" class="absolute bottom-0 w-full p-1.5">
            <label for="chat" class="sr-only">Your message</label>
            <div class="flex items-center px-1 py-2 rounded-lg bg-gray-100">
              <button type="button"
                class="hidden inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100">
                <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Upload image</span>
              </button>
              <textarea id="messenge-input" rows="1" class="resize-none block mx-1 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Your message..."></textarea>
              <button type="submit"
                class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100">
                <svg aria-hidden="true" class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z">
                  </path>
                </svg>
                <span class="sr-only">Send message</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="function-bar" class="fixed bottom-0 left-0 z-50 grid w-full h-16 grid-cols-1 px-8 bg-white border-t border-gray-200 md:grid-cols-3">
      <div class="items-center justify-center hidden mr-auto text-gray-500 md:flex">
        <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true">
          <path clip-rule="evenodd" fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z">
          </path>
        </svg>
        <span id="timer" class="text-base"></span>
      </div>
      <div class="flex items-center justify-center mx-auto">
        <button id="mute-mic" data-tooltip-target="tooltip-microphone" type="button"
          class="p-2.5 group bg-gray-100 rounded-full hover:bg-gray-200 mr-4">
          <svg class="w-5 h-5 text-green-500 group-hover:text-green-500"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path clip-rule="evenodd" fill-rule="evenodd"
              d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z">
            </path>
          </svg>
          <span class="sr-only">Mute microphone</span>
        </button>
        <div id="tooltip-microphone" role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
          Mute microphone
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <button id="hide-camera" data-tooltip-target="tooltip-camera" type="button"
          class="p-2.5 bg-gray-100 group rounded-full hover:bg-gray-200 mr-4">
          <svg class="w-5 h-5 text-green-500 group-hover:text-green-500"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path
              d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z">
            </path>
          </svg>
          <span class="sr-only">Hide camera</span>
        </button>
        <div id="tooltip-camera" role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
          Hide camera
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <button id="share-screen-btn" data-tooltip-target="tooltip-feedback" type="button"
          class="p-2.5 bg-gray-100 group rounded-full hover:bg-gray-200 mr-4">
          <svg class="w-5 h-5 text-gray-500 group-hover:text-gray-900"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path fill-rule="evenodd"
              d="M2 4.25A2.25 2.25 0 014.25 2h11.5A2.25 2.25 0 0118 4.25v8.5A2.25 2.25 0 0115.75 15h-3.105a3.501 3.501 0 001.1 1.677A.75.75 0 0113.26 18H6.74a.75.75 0 01-.484-1.323A3.501 3.501 0 007.355 15H4.25A2.25 2.25 0 012 12.75v-8.5zm1.5 0a.75.75 0 01.75-.75h11.5a.75.75 0 01.75.75v7.5a.75.75 0 01-.75.75H4.25a.75.75 0 01-.75-.75v-7.5z"
              clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Share screen</span>
        </button>
        <div id="share-screen-list" class="hidden absolute top-[-12rem] z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-60">
          <ul class="p-1 space-y-1 text-sm text-gray-700" aria-labelledby="dropdownRadioHelperButton">
            <li>
              <div class="flex pl-1 py-2 rounded">
                <div class="ml-2 text-sm">
                  <label for="helper-radio-4" class="font-medium text-gray-900">
                    <div>分享螢幕畫面</div>
                  </label>
                </div>
              </div>
            </li>
            <li>
              <div id="entire" class="flex p-1 rounded hover:bg-gray-100">
                <div class="ml-2 text-sm">
                  <label for="helper-radio-5" class="font-medium text-gray-900">
                    <div>整個畫面</div>
                    <p id="helper-radio-text-6" class="text-xs font-normal text-gray-500">無法共享聲音</p>
                  </label>
                </div>
              </div>
            </li>
            <li>
              <div id="window" class="flex p-1 rounded hover:bg-gray-100">
                <div class="ml-2 text-sm">
                  <label for="helper-radio-6" class="font-medium text-gray-900">
                    <div>單個視窗</div>
                    <p id="helper-radio-text-6" class="text-xs font-normal text-gray-500">無法共享聲音</p>
                  </label>
                </div>
              </div>
            </li>
            <li>
              <div id="paging" class="flex p-1 rounded hover:bg-gray-100">
                <div class="ml-2 text-sm">
                  <label for="helper-radio-6" class="font-medium text-gray-900">
                    <div>單一分頁</div>
                    <p id="helper-radio-text-6" class="text-xs font-normal text-gray-500">若要共享畫面聲音，請選擇此項</p>
                  </label>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <button id="start-whiteboard" data-tooltip-target="tooltip-feedback" type="button"
          class="p-2.5 bg-gray-100 group rounded-full hover:bg-gray-200 mr-4">
          <svg class="w-5 h-5 text-gray-500 group-hover:text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path clip-rule="evenodd" fill-rule="evenodd"
              d="M 18.646484 1.2890625 C 18.268016 1.2612656 17.889562 1.4509844 17.695312 1.8027344 L 15.931641 5 L 4 5 C 2.3550302 5 1 6.3550302 1 8 L 1 18 C 1 19.64497 2.3550302 21 4 21 L 20 21 C 21.64497 21 23 19.64497 23 18 L 23 8 C 23 6.3683814 21.665943 5.025654 20.039062 5.0039062 L 20.876953 3.484375 C 21.007953 3.245375 21.036078 2.963125 20.955078 2.703125 C 20.874078 2.443125 20.690266 2.2274688 20.447266 2.1054688 L 19.017578 1.390625 C 18.897828 1.331125 18.772641 1.2983281 18.646484 1.2890625 z M 4 7 L 14.828125 7 L 13.125 10.087891 C 13.043 10.236891 13 10.401312 13 10.570312 L 13 11.992188 A 1.0001 1.0001 0 0 0 12.445312 12.167969 C 11.929994 12.511515 11.700847 12.483693 11.261719 12.316406 C 10.822591 12.149119 10.25 11.71875 9.625 11.21875 C 9 10.71875 8.3225906 10.149119 7.4492188 9.8164062 C 7.0125328 9.6500498 6.5090892 9.5734519 5.9902344 9.6210938 C 5.4713796 9.6687354 4.9376529 9.8397416 4.4453125 10.167969 A 1.0001 1.0001 0 1 0 5.5546875 11.832031 C 6.0700066 11.488485 6.2991532 11.516307 6.7382812 11.683594 C 7.1774093 11.850881 7.75 12.28125 8.375 12.78125 C 9 13.28125 9.6774096 13.850881 10.550781 14.183594 C 11.424153 14.516307 12.570006 14.488485 13.554688 13.832031 A 1.0001 1.0001 0 0 0 14.013672 12.998047 C 14.162069 12.996009 14.310498 12.96243 14.447266 12.894531 L 15.876953 12.181641 C 16.058953 12.090641 16.206688 11.946531 16.304688 11.769531 L 18.9375 7 L 20 7 C 20.56503 7 21 7.4349698 21 8 L 21 18 C 21 18.56503 20.56503 19 20 19 L 4 19 C 3.4349698 19 3 18.56503 3 18 L 3 8 C 3 7.4349698 3.4349698 7 4 7 z" />
          </svg>
          <span class="sr-only">Start whiteboard</span>
        </button>
        <div id="tooltip-feedback" role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
          Share feedback
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <button data-tooltip-target="tooltip-settings" type="button"
          class="p-2.5 bg-gray-100 group rounded-full mr-4 md:mr-0 hover:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-gray-200">
          <svg class="w-5 h-5 text-gray-500 group-hover:text-gray-900"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path
              d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z">
            </path>
          </svg>
          <span class="sr-only">Video settings</span>
        </button>
        <div id="tooltip-settings" role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
          Video settings
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <button id="moreOptionsDropdownButton" data-dropdown-toggle="moreOptionsDropdown" type="button"
          class="p-2.5 bg-gray-100 md:hidden group rounded-full hover:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-gray-200">
          <svg class="w-5 h-5 text-gray-500 group-hover:text-gray-900"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path>
          </svg>
          <span class="sr-only">Show options</span>
        </button>
        <div id="moreOptionsDropdown"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
          <ul class="py-2 text-sm text-gray-700" aria-labelledby="moreOptionsDropdownButton">
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100">Show
                participants</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100">Adjust
                volume</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100">Show
                information</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="items-center justify-center hidden ml-auto md:flex">
        <button data-tooltip-target="tooltip-participants" type="button"
          class="p-2.5 group rounded-full hover:bg-gray-100 mr-1 focus:outline-none focus:ring-4 focus:ring-gray-200">
          <svg class="w-5 h-5 text-gray-500 group-hover:text-gray-900"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path
              d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z">
            </path>
          </svg>
          <span class="sr-only">Show participants</span>
        </button>
        <div id="tooltip-participants" role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
          Show participants
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <button id="chat-room-btn" data-tooltip-target="tooltip-volume" type="button"
          class="p-2.5 group rounded-full hover:bg-gray-100 mr-1">
          <svg class="w-5 h-5 text-gray-500 group-hover:text-gray-900"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path fill-rule="evenodd"
              d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902 1.168.188 2.352.327 3.55.414.28.02.521.18.642.413l1.713 3.293a.75.75 0 001.33 0l1.713-3.293a.783.783 0 01.642-.413 41.102 41.102 0 003.55-.414c1.437-.231 2.43-1.49 2.43-2.902V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zM6.75 6a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5zm0 2.5a.75.75 0 000 1.5h3.5a.75.75 0 000-1.5h-3.5z"
              clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Chat room</span>
        </button>
        <div id="tooltip-volume" role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
          Adjust volume
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <button data-tooltip-target="tooltip-information" type="button"
          class="p-2.5 group rounded-full hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200">
          <svg class="w-5 h-5 text-gray-500 group-hover:text-gray-900"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path clip-rule="evenodd" fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z">
            </path>
          </svg>
          <span class="sr-only">Show information</span>
        </button>
        <div id="tooltip-information" role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
          Show information
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </div>
    </div>
    <script type="module" src="./src/constant.js"></script>
    <script type="module" src="./src/stream.js"></script>
    <script type="module" src="./src/chatroom.js"></script>
    <script type="module" src="./src/sharescreen.js"></script>
    <script type="module" src="./src/whiteboard.js"></script>
  </body>
</html>