<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current - <%= roomId %></title>
    <link href="./src/output.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="navbar" class="relative flex top-0 left-0 h-24 w-full px-[32px] py-[16px] bg-white items-center">
      <a class="flex-none bg-[url('../images/logo.png')] w-[190px] h-[48px] bg-contain" href="./"></a>
      <div class="flex-1 text-right text-lg">
        <a id="signout" type="button" href="./"
          class="text-orange-700 hover:text-white border border-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-orange-500 dark:focus:ring-orange-800">登入</a>
      </div>
    </div>
    <div class="container mx-auto h-[calc(100vh-10rem)]">
      <div class="grid grid-cols-3 min-h-full">
        <div class="col-span-2 flex justify-center items-center">
          <span id="alert" class="absolute text-black text-3xl whitespace-pre-wrap z-10">請允許Current存取您的攝影機和麥克風
        才能讓其他參與者看到和聽到您</span>
          <div id="myVideo" class="relative flex justify-center items-center">
            <video class="transform-rotateY-180"></video>
            <button id="hide-camera" data-tooltip-target="tooltip-camera" type="button"
              class="absolute bottom-5 right-[42%] p-[2%] bg-transparent border border-white group rounded-full hover:bg-white hover:bg-opacity-50 dark:bg-gray-600 dark:hover:bg-gray-800">
              <svg class="w-6 h-6 text-white dark:text-gray-300 dark:group-hover:text-white"
                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path
                  d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z">
                </path>
              </svg>
              <span class="sr-only">Hide camera</span>
            </button>
            <button id="mute-mic" data-tooltip-target="tooltip-microphone" type="button"
              class="absolute bottom-5 left-[42%] p-[2%] group bg-transparent border border-white rounded-full hover:bg-white hover:bg-opacity-50 dark:bg-gray-600 dark:hover:bg-gray-800">
              <svg class="w-6 h-6 text-white dark:text-gray-300 dark:group-hover:text-white"
                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd"
                  d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z">
                </path>
              </svg>
              <span class="sr-only">Mute microphone</span>
            </button>
          </div>
        </div>
        <div class="col-span-1 flex justify-center items-center">
          <form class="flex flex-col justify-center items-center" action="./enterRoom?roomId=<%= roomId %>" method="post" >
            <label for="large-input" class="block mb-2 text-lg font-medium text-gray-900 text-center dark:text-white">請輸入姓名</label>
            <input type="text" name="name"
              class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <input class="hidden" type="text" name="cameraStatus" value="true">
            <input class="hidden" type="text" name="micStatus" value="true">
            <button type="submit" id="enter-room"
              class="text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center m-4 dark:focus:ring-yellow-900">要求加入</button>
          </form>
        </div>
      </div>
    </div>
    <script type="module" src="./src/enterRoom.js"></script>
  </body>
</html>