<!DOCTYPE html>
<html>

<head>
  <title>Current</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="https://d3u6ahecm1mhmb.cloudfront.net/images/favicon.ico" />
  <link rel="bookmark" href="https://d3u6ahecm1mhmb.cloudfront.net/images/favicon.ico" />
  <link href="https://d3u6ahecm1mhmb.cloudfront.net/src/style.css" rel="stylesheet">
  <link href="https://d3u6ahecm1mhmb.cloudfront.net/src/output.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/web-streams-polyfill@2.0.2/dist/ponyfill.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/streamsaver@2.0.3/StreamSaver.min.js"></script>
</head>

<body class="h-screen flex justify-center items-center bg-white">
  <div id="recording" class="flex flex-col justify-center items-center gap-4">
    <div id="recording-timer" class="flex justify-center items-center gap-2">
      <div id="recording-pause" class="hidden pause"></div>
      <div id="recording-icon" class="hidden blob red"></div>
      <span id="timer" class="countdown font-mono text-3xl text-black">
        00:00:00
      </span>
    </div>
    <div id="recording-btn" class="flex gap-2">
      <button id="start-btn" type="button" class="px-3 py-2 text-sm font-medium text-center text-white bg-yellow-400 rounded-lg hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300">開始錄影</button>
      <button id="pause-btn" type="button" class="hidden px-3 py-2 text-sm font-medium text-center text-white bg-gray-400 rounded-lg hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300">暫停</button>
      <button id="resume-btn" type="button" class="hidden px-3 py-2 text-sm font-medium text-center text-white bg-yellow-400 rounded-lg hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300">繼續</button>
      <button id="stop-btn" type="button" class="hidden px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300">停止錄影</button>
    </div>
    <div id="recording-reminder" class="w-[80%] text-center">
      <p class="text-base text-red-600">※ 若想要錄製會議，請選擇分享分頁，並選擇您的Current會議分頁</p>
    </div>
  </div>
  <script type="module" src="/src/recording.js"></script>
</body>