<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Current</title>
  <link rel="shortcut icon" href="./images/favicon.ico" />
  <link rel="bookmark" href="./images/favicon.ico" />
  <link href="../src/output.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>

<body class="h-screen w-screen bg-white">
  <div class="relative flex top-0 left-0 h-24 w-full px-[32px] py-[16px] bg-white items-center">
    <a class="flex-none bg-[url('../images/logo.png')] w-[190px] h-[48px] bg-contain" href="./"></a>
    <a class="bg-[url('../images/user.png')] w-[50px] h-[50px] ml-auto bg-contain" href=""></a>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div class="text-4xl text-black py-7">會議代碼無效</div>
    <a type="button" href="./"
      class="text-white bg-orange-800 hover:bg-orange-700 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">返回首頁</a>
  </div>
</body>