@tailwind base;
@tailwind components;
@tailwind utilities;

.transform-rotateY-180 {
  transform: rotateY(180deg);
}

.text-shadow {
  text-shadow: black 0.1em 0.1em 0.2em
}

.transform-center {
  transform: translate(-50%, -50%);
}